# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Python compiled files
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim plug-ins
.clang

# build artifacts
build
.vscode
rbuild
workspace.code-workspace
thirdparty/include
thirdparty/libs
compile_commands.json
.cache
